<!doctype html>
<html lang="en">
  <head>
    <title>Globe</title>
    <link rel="icon" type="image/png" sizes="32x32" href="//cdn.shopify.com/s/files/1/1765/5971/t/10/assets/favicon-32x32.png?9610605222100492220">
    <link rel="icon" type="image/png" sizes="96x96" href="//cdn.shopify.com/s/files/1/1765/5971/t/10/assets/favicon-96x96.png?9610605222100492220">
    <link rel="icon" type="image/png" sizes="16x16" href="//cdn.shopify.com/s/files/1/1765/5971/t/10/assets/favicon-16x16.png?9610605222100492220">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  </head>

  <body>
    <header>
      <img id="profile-picture" src="placeholder.png" class="rounded">
      <div id="customer" class="align-middle">
        Adam Schueller
      </div>
      <div id="customer-language" class="align-middle">
        - English
      </div>
    </header>

    <nav class="nav nav-pills nav-fill tabs">
      <a class="nav-item nav-link" id="infoButton" href="#" onclick="showInfo()">Customer Information</a>
      <a class="nav-item nav-link" id="requestButton" href="#" onclick="showRequest()">Customer Request</a>
    </nav>

    <div id="account-information" class="text-field">
      <h3 style="text-align: center">Account Information</h3>
      <div id="description">
        <ul class="list-group">
          <li class="list-group-item">
            <h5 class="mb-1 d-inline-flex align-middle">Account number: </h5>
            <span class="list-text d-inline-flex align-middle">000 000 000 0000</span>
          </li>
          <li class="list-group-item">
            <h5 class="mb-1 d-inline-flex align-middle">Address: </h5>
            <span class="list-text d-inline-flex align-middle">109 Tindall Road</span>
          </li>
          <li class="list-group-item">
            <h5 class="mb-1 d-inline-flex align-middle">City: </h5>
            <span class="list-text d-inline-flex align-middle">Mars</span>
          </li>
          <li class="list-group-item">
            <h5 class="mb-1 d-inline-flex align-middle">State: </h5>
            <span class="list-text d-inline-flex align-middle">PA</span>
          </li>
          <li class="list-group-item">
            <h5 class="mb-1 d-inline-flex align-middle">Zip code: </h5>
            <span class="list-text d-inline-flex align-middle">16046</span>
          </li>
        </ul>
      </div>
      <h3 style="text-align: center">Card Information</h3>
      <div id="description">
        <ul class="list-group">
          <li class="list-group-item">
            <h5 class="mb-1 d-inline-flex align-middle">Card number: </h5>
            <span class="list-text d-inline-flex align-middle">000 000 000 0000</span>
          </li>
          <li class="list-group-item">
            <h5 class="mb-1 d-inline-flex align-middle">Balance: </h5>
            <span class="list-text d-inline-flex align-middle" style="color:red">$1,000,000</span>
          </li>
        </ul>
      </div>
    </div>

    <div id="translation">
      <div id="text" class="text-field">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse blandit porta metus, nec imperdiet nulla dignissim eget. In hac habitasse platea dictumst. In porta nisi ac nisi convallis, vel scelerisque libero efficitur. Sed lectus enim, feugiat a velit vel, sodales ornare ex. Nam vestibulum convallis arcu, feugiat molestie elit malesuada et. Ut at massa eros. Maecenas dolor nulla, lobortis eget pulvinar sit amet, porta id felis. Cras mattis aliquet diam quis bibendum. Integer congue ex libero, quis aliquet turpis gravida ac. Fusce non finibus lacus. Sed dignissim ultrices elit, vel posuere odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean faucibus vestibulum turpis nec porta. In vehicula, orci id finibus rhoncus, ipsum sem dignissim velit, et ultricies arcu eros non metus. Phasellus a tortor porttitor, pretium eros ut, convallis augue. Etiam scelerisque imperdiet turpis, vitae tincidunt nisl blandit ornare.
      </div>
    </div>
    <div id="record" onclick="record()">
      <button id="microphone">
        <i class="fas fa-microphone"></i>
      </button>
      <p>Speak with the customer</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <script>
      document.getElementById("infoButton").style.backgroundColor = "#4f92ff";
      document.getElementById("infoButton").style.color = "white";
      document.getElementById("requestButton").style.backgroundColor = "white";
      document.getElementById("requestButton").style.color = "#4f92ff";
      document.getElementById("translation").style.display = "none";

      function showInfo(){
        document.getElementById("translation").style.display = "none";
        document.getElementById("account-information").style.display = "block";
        document.getElementById("infoButton").style.backgroundColor = "#4f92ff";
        document.getElementById("infoButton").style.color = "white";
        document.getElementById("requestButton").style.backgroundColor = "white";
        document.getElementById("requestButton").style.color = "#4f92ff";
      }
      function showRequest(){
        document.getElementById("translation").style.display = "block";
        document.getElementById("account-information").style.display = "none";
        document.getElementById("requestButton").style.backgroundColor = "#4f92ff";
        document.getElementById("requestButton").style.color = "white";
        document.getElementById("infoButton").style.backgroundColor = "white";
        document.getElementById("infoButton").style.color = "#4f92ff";
      }
      function record(){
        console.log("Recording...");
      }
    </script>
  </body>

</html>
