<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  </head>

  <script>
    function record(){
      document.getElementById("record").style.display = "none";
      document.getElementById("text").style.display = "block";
    }
  </script>

  <body>
      <header>
        <img id="profile-picture" src="placeholder.png" class="rounded">
        <div id="customer" class="align-middle">
          Adam Schueller
        </div>
        <div id="customer-language" class="align-middle">
          - English
        </div>
      </header>
      <div id="translation">
        <div id="text" class="text-field" style="display:none">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse blandit porta metus, nec imperdiet nulla dignissim eget. In hac habitasse platea dictumst. In porta nisi ac nisi convallis, vel scelerisque libero efficitur. Sed lectus enim, feugiat a velit vel, sodales ornare ex. Nam vestibulum convallis arcu, feugiat molestie elit malesuada et. Ut at massa eros. Maecenas dolor nulla, lobortis eget pulvinar sit amet, porta id felis. Cras mattis aliquet diam quis bibendum. Integer congue ex libero, quis aliquet turpis gravida ac. Fusce non finibus lacus. Sed dignissim ultrices elit, vel posuere odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean faucibus vestibulum turpis nec porta. In vehicula, orci id finibus rhoncus, ipsum sem dignissim velit, et ultricies arcu eros non metus. Phasellus a tortor porttitor, pretium eros ut, convallis augue. Etiam scelerisque imperdiet turpis, vitae tincidunt nisl blandit ornare.
        </div>
        <div id="record" onclick="record()">
          <button id="microphone">
            <i class="fas fa-microphone"></i>
          </button>
          <p>Speak with the customer</p>
        </div>
      </div>
      <div id="account-information" class="text-field">
        <div id="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse blandit porta metus, nec imperdiet nulla dignissim eget. In hac habitasse platea dictumst. In porta nisi ac nisi convallis, vel scelerisque libero efficitur. Sed lectus enim, feugiat a velit vel, sodales ornare ex. Nam vestibulum convallis arcu, feugiat molestie elit malesuada et. Ut at massa eros. Maecenas dolor nulla, lobortis eget pulvinar sit amet, porta id felis. Cras mattis aliquet diam quis bibendum. Integer congue ex libero, quis aliquet turpis gravida ac. Fusce non finibus lacus. Sed dignissim ultrices elit, vel posuere odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean faucibus vestibulum turpis nec porta. In vehicula, orci id finibus rhoncus, ipsum sem dignissim velit, et ultricies arcu eros non metus. Phasellus a tortor porttitor, pretium eros ut, convallis augue. Etiam scelerisque imperdiet turpis, vitae tincidunt nisl blandit ornare.
        </div>
      </div>

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>

</html>
