<!DOCTYPE html>
<html>

<head>
  <!--Style Sheet-->
  <link rel="icon" type="image/png" sizes="32x32" href="//cdn.shopify.com/s/files/1/1765/5971/t/10/assets/favicon-32x32.png?9610605222100492220">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/customer.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <title id="page-id">Hello World - Customer</title>
</head>

<body>
  <header class="row">
    <div id="wrapper" class="col align-self-start">
      <img id="logo" src="/images/logo.png" align="left" height="50" width="auto">
    </div>
    <div class="col align-self-center">
      <img id="profile-picture" src="/images/Capture.PNG" class="rounded">
      <div id="customer" class="align-middle">
        Harshil Shah
      </div>
      <div id="customer-language" class="align-middle">
        - English
      </div>
    </div>
    <div class="col align-self-end"></div>
  </header>
  <div class="main">
    <!--call timer-->
    <div id="callTimer" class="row justify-content-center">
      <time>00:00:00</time>
    </div>

    <div id="record">
      <button id="microphone" style="background-color:green">
        <i class="fas fa-microphone"></i>
      </button>
      <p id="call-status">Start Speaking</p>
    </div>

  <!-- <div>
          <p class="phrase">Phrase...</p>
          <p class="result">Right or wrong?</p>
          <p class="output">...diagnostic messages</p>
      </div> -->
  <div class="justify-content-center">
    <div id="language-selection" class="col">
      <label>Language: </label>
      <select id="langSelect" onchange="updateLang()">
        <option value="da">Danish</option>
        <option value="en" selected="select">English</option>
        <option value="fr">French</option>
        <option value="de">German</option>
        <option value="hi">Hindi</option>
        <option value="es">Spanish</option>
      </select>
    </div>
  </div>
  <!--Scripts-->
  <script type="text/javascript" src="js/customer.js"></script>
  <!-- Chris' really bad code tbh-->

<script>

    function playSound(url){
      var audio = document.createElement('audio');
      audio.style.display = "none";
      audio.src = url;
      audio.autoplay = true;
      audio.onended = function(){
        audio.remove() //Remove when played.
      };
      document.body.appendChild(audio);
    }

    function httpGet(theUrl)
    // The network request grabs the json containing mp3 structure
    {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
        xmlHttp.send( null );
        return xmlHttp.responseText;
    }
      console.log("Works")

      jsonString = httpGet("http://104.236.71.248:8000/updates");
      // This is the actual file structure
      obVal = JSON.parse(jsonString);
      var obj = obVal.text;
      var prevVal = String(obj);
      setInterval(function(){
        let music = document.getElementById('music');
        jsonString = httpGet("http://104.236.71.248:8000/updates");
      obVal = JSON.parse(jsonString);
      var obj = obVal.text;
      console.log(obj);
      if (String(prevVal) != String(obj)){
        playSound('http://104.236.71.248:8000/static/output.mp3?ch=' + String(parseInt((Math.random() * ((900000000 - 1) + 1)))));
      }
      prevVal = String(obj);
    }, 3000);

</script>

</body>

</html>
