<html>
  <head>
    <link type="text/css" href="/public/stylesheets/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  </head>

  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img id="profile-picture" src="placeholder.png">
        <ul class="navbar-nav bd-navbar-nav flex-row">
          <li class="nav-item">
          </li>
          <li class="nav-item" id="customer">
            Adam Schueller
          </li>
          <li class="nav-item" id="customer-language">
            English
          </li>
        </ul>
      </nav>
      <div id="translation">
        <div id="text" style="hidden">
        </div>
        <div id="record">
          <button id="microphone">
            <i class="fas fa-microphone"></i>
          </button>
          <p>Speak with the customer</p>
        </div>
      </div>
      <div id="account-information">
      </div>
  </body>

</html>
