<html>

    <head>
         <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    </head>

    <body>
        <div class = "well container-fluid">
            <h1 align = "center"> Assistance portal</h1>
            <br />
            <h3 align ="center">We support multiple language support with real time translation</h3>
            <div class = "login_form well">
       email
            <input type="text" name="email_field" />
        
        <br />
        <span>password
            <input type="password" name="password_field" />
        </span>
        <br />
        <span>
                <a href = ""  role="button" class="btn btn-success">Sign In</a>
        
                <a href = "signup.html"  role="button" class="btn btn-primary">Sign Up</a>
            </span>
        
        </div>
        </div>
    </body>

</html>