<html>

    <head>
         <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    </head>

    <body>
        <div class = "well container">
            <h1 align = "center"> Assistance portal</h1>
            <br />
            <h3 align ="center">We support multiple langage support with real time translation</h3>
            <div class = "signup_form">
                    <div class = "centered">
        <div>name
            <input type="text" name="name_field" />
        </div>
        <br />
        <div>
        phone number
                <input type="text" class="input-medium bfh-phone">
        </div>
        <br />
        <div>
        email
                <input type="text" name = "email_field">
        </div>
        <br />
        <div>
            <a href = "signup.html"  role="button" class="btn btn-primary">Sign Up</a>
        </div>
        </div>
        </div>
        </div>
    </body>

</html>