<html>

    <head>
         <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="login_style.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    </head>

    <body>
        <div class = "well container">
            
            <div class = "signup_form">
                    <div class = "centered">
        <div>name
            <input type="text" name="name_field" />
        </div>
        <br />
        <span>phone number
                <input type="text" class="input-medium bfh-phone">
        </span>
        <br />
        <span>email
                <input type="text" name = "email_field">
        </span>
        <br />
        <span>
            <button type = "submit">Sign Up</button>
            </span>
        </div>
        </div>
        </div>
    </body>

</html>