<html>


<head>

</head>
<audio id="music">
   <source src="http://104.236.71.248:8000/audio/">
</audio>
<script>

function httpGet(theUrl)
// The network request grabs the json containing mp3 structure
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
    xmlHttp.send( null );
    return xmlHttp.responseText;
}
	console.log("Works")

	jsonString = httpGet("http://104.236.71.248:8000/updates");
	// This is the actual file structure
	obVal = JSON.parse(jsonString);
	var obj = obVal.text;
	var prevVal = String(obj);

  setInterval(function(){
  	let music = document.getElementById('music');
  	jsonString = httpGet("http://104.236.71.248:8000/updates");
	obVal = JSON.parse(jsonString);
	var obj = obVal.text;
	console.log(obj);
	if (String(prevVal) != String(obj)){
		music.play();
	}
	prevVal = String(obj);
   }, 2000);
</script>

</html>
