body{
  font-size: 12px;
  width: 100%;
}

header{
  display: inline-block;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 17.5px;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

#customer{
  color:  #4f92ff;
}

#customer-language{
  font-weight: lighter;
}

#customer, #customer-language{
  display: inline-block;
  font-size: 1.75em;
}

#profile-picture{
  height: 3.25em;
  width: 3.25em;
  margin-right: 15px;
}

#microphone{
  background-color: #4f92ff;
  text-align: center;
  border-radius: 500px;
  width: 75px;
  height: 75px;
  outline: none;
}

#customer-id{
    font-size: 3em;
    text-align: center;
}

#customer-pic{
    padding-top: 20px;
    padding-bottom: 20px;
    max-height:200px;
    max-width:150px;
    align-content:center;
}

#microphone{
    border-radius: 50%;
    background: #1f9c25;
    text-align: center;
    padding: 20px 20px;
    color: #ffffff;
    font-size: 20px;
}

#call-button{
    padding-top: 40px;
    padding-bottom: 40px;
}

#call-status{
    font-size: 20px;
    margin-left: 25%;
    margin-right: 25%;
}

#language-selection{
    padding-top: 40px;
    padding-bottom: 50px;
    background: "white";
    text-align:center;
    align-content:center;
}

#output{
    text-align: center;
}

#microphone{
  margin-top: 5%;
  text-align: center;
}

#record{
  margin-top: 1.5%;
  text-align: center;
}

#record p{
  margin-top: 0.5%;
  font-size: 1em;
}

#microphone{
  text-align: center;
  border-radius: 500px;
  width: 75px;
  height: 75px;
  outline: none;
}

#microphone i{
  font-size: 30px;
  color: white;
}
