#content{
    font-family: 'Roboto', sans-serif;
}

#customer-id{
    font-size: 50px;
    text-align: center;
}

#customer-pic{
    padding-top: 20px;
    padding-bottom: 20px;
    max-height:200px;
    max-width:150px;
    align-content:center;
}

.mic{
    border-radius: 360px;
    background: #4286f4;
    text-align: center;
    padding: 20px 20px;
    color: #ffffff;
}


#language-selection{
    text-align:center;
    align-content:center;
}

#call-button{
    padding-top: 40px;
    padding-bottom: 40px;
}

#call-status{
    min-width: 65px;
    min-height: 35px;
    margin: auto;
}