body{
  font-size: 12px;
}

#profile-picture{
  height: 3.25em;
  width: 3.25em;
  margin-right: 15px;
}

#record{
  margin-top: 1.5%;
  text-align: center;
}

#record p{
  margin-top: 1%;
  font-size: 1em;
}

#microphone{
  background-color: #4f92ff;
  text-align: center;
  border-radius: 500px;
  width: 75px;
  height: 75px;
  outline: none;
}

#microphone i{
  font-size: 30px;
  color: white;
}

#customer{
  color:  #4f92ff;
}

#customer-language{
  font-weight: lighter;
}

#customer, #customer-language{
  display: inline-block;
  font-size: 1.75em;
}

#description{
  margin-bottom: 1.5%;
}

header{
  display: inline-block;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 17.5px;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.text-field{
  margin-top: 1.5%;
  margin-left: 25%;
  margin-right: 25%;
}

.tabs{
  margin-top: 2.5%;
  margin-left: 25%;
  margin-right: 25%;
}

.list-text{
  margin-left: 7.5px;
}
